
	body{
		background: url("3back.jpg");
		font-family: "Segoe Script";
	}
	#wrapping{
		max-width: 1000px;
		height: 100%;
		background: rgb(250,235,215);
		margin: 0 auto;
		border-radius: 30px;
	}
	
	#basy{
		text-decoration: none;
	}
	#a{
		color:red;
		padding-left:130px;
		text-decoration: overline;
		margin:10px;
		padding-bottom:30px;
		font-size:14px;
	}
	#burg{
		width:100px;
		height:100px;
		padding-top: 25px;
		border-radius: 25px;
	}
	#us{
		background-color: rgb(135,206,235);
		height:27px;
		width:450px;
		margin:0 auto;
		border-radius: 5px;
	}
	#usl{
		padding-left:140px;
	}
	#cc{
		border:1px dotted rgb(135,206,235);
		height:80px;
		width:200px;
		//margin-left:200px;
		float: left;
		margin-top: 7px;
		margin-right: 7px;
		margin-bottom: 30px;
	}
	#c{
		font-size: 12px;
		padding-left:30px;
	}
	#baga{
		padding-left:60px;
	}
	#st{
		border:1px dotted rgb(135,206,235);
		float:left;
		height:80px;
		width:200px;
		margin-top: 7px;
		margin-right: 7px;

	}
	#stt{
		font-size: 12px;
		padding-left:30px;
	}
	#b{
		padding-left: 45px;
	}
	#sr{
		border: 1px dotted rgb(135,206,235);
		float:left;
		height:80px;
		width:200px;
		margin-top: 7px;
	}
	#srr{
		font-size: 12px;
		padding-left:23px;
	}
	#sra{
		padding-left: 45px;}
		#tabs{
			margin-top: 20px;
		padding-top: 150px;
		display:inline;
		margin-left: 50px;
	}

ul.products {
	padding: 0;
	margin: 0;
	max-width: 1000px;
	margin-left: 55px;
	margin-right: auto;
}
ul.products li {
	display: inline-block;
	max-width: 250px;
	padding: 10px;
	background-color: inherit;
	margin: 10px;
	border: 1px solid #EAEAEA;  
	color: #3D3D31}

ul.products li h3 {
	margin: -10px -10px 10px -10px;
	padding: 10px;
	text-align: center;
	background-color: #F5F5F5;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	color: #5A5A5A;
}
ul.products li fieldset {
	border: none;
	padding: 5px 5px 5px 0px;
	margin: 0;
}
ul.products li fieldset label{
	display:block;
	margin-bottom: 4px;
}
ul.products li fieldset label span{
	width: 80px;
	float: left;
}
ul.products li fieldset label select{
	min-width: 100px;
}

button, .button{
	background-color: #39b3d7;
	min-width: 100px;
	border: none;
	padding: 10px;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	color: #FFF;
	min-height: 15px;
	font: 12px/15px Arial, Helvetica, sans-serif;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.26);
	border-radius: 3px;
}
button:hover, .button:hover{
	background-color: #44C7ED;
}

.product-thumb{
	text-align:center;
}
.product-desc {
	font-style: italic;
	font-size: 0.8em;
	margin-bottom: 4px;
	height: 40px;
	overflow: hidden;
	margin-top: 5px;
}

ul.shopping-cart{
	position: fixed;
	top: 100px;
	right: 0;
	background-color: #F9F9F9;
	padding: 10px;
	min-width: 250px;
	list-style: none;
	font-size: 0.8em;
	border: 1px solid #F0F0F0;
}
ul.shopping-cart .cart-itm {
	margin-bottom: 10px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 8px;
}
ul.shopping-cart .cart-itm:last-child{
	border-bottom: none;
	margin-bottom: 0px;
}
ul.shopping-cart .cart-itm .remove-itm{
	float: right;
	font-size: 1.5em;
}
ul.shopping-cart .cart-itm .remove-itm a{
	text-decoration:none;
	color:#000;
}
.cart-total-text a{
	float:right;
}

.cart-view-table-front{
	font-size: 0.7em;
	position: fixed;
	right: 10px;
	max-width: 350px;
	font-family: Arial;
	margin-top:-250px;
}
.cart-view-table-front h3{
	text-align: center;
	padding: 0;
	margin: 0px 0px 6px 0px;
}
.cart-view-table-front, .cart-view-table-back {
	max-width: 700px;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.12);
	border: 1px solid #E4E4E4;
}
.cart-view-table-front table th, .cart-view-table-back table th{
	text-align: left;
}
.cart-view-table-front table thead, .cart-view-table-back table thead{
	background-color: #9CCDFD;
}
.cart-view-table-front table tbody tr.even, .cart-view-table-back table tbody tr.even{
	background-color: #F7F7F7;
}
.cart-view-table-front table tbody tr.odd, .cart-view-table-back table tbody tr.odd{
	background-color: #EDEDED;
}
.cart-view-table-front button, .cart-view-table-front .button, .cart-view-table-back button, .cart-view-table-back .button{
	margin: 10px 1px;
	float: right;
}
