body{
		background: url("3back.jpg");
		font-family: "Segoe Script";
	}
	#wrapping{
		max-width: 1000px;
		height: 100%;
		background: rgb(250,235,215);
		margin: 0 auto;
		border-radius: 30px;
	}
	
	#basy{
		text-decoration: none;
	}
	#a{
		color:red;
		padding-left:130px;
		text-decoration: overline;
		margin:10px;
		padding-bottom:30px;
		font-size:14px;
	}
	#burg{
		width:100px;
		height:100px;
		padding-top: 25px;
		border-radius: 25px;
	}
	#asty{
		height:550px;
		width:100%;
		background:url("4.jpg");
		margin:20px;
		background-repeat: no-repeat;
		margin: 0 50px 0 50px;
		padding: 80px 150px 0 255px;
		input{
			border:none;
			width: 150px;
			height: 30px;
				
		}

	}

	
	#ok{
		border:2px red dotted;
		background: rgb(250,235,215);
		width:380px;
		height:280px;
	}
	#v{
		font-size: 25px;
	}
	#vh{
		margin-left:50px;
		margin-right:25px;
		padding:0 10px 0 10px;
		float:left;
		
		}
		#r{
			float: left;
			margin-right: 25px;
		}
		#vhl{
		float:left;
		
		padding:0 10px 0 10px;
	
	}