#di{
		padding-left: 450px;
		
	}
	li {
display:inline-block;
color:white;
padding-left: 100px;
list-style:none;
font-size:32px;
}
 li a {
color:white;
text-decoration:none;

}
#a{
	padding-left:45px;
}