#wrapping {
	background: rgb(250,235,215);
	border-radius: 30px;
	height: 100%;
	margin: 0 auto;
	max-width: 1000px;
}
#basy {
	text-decoration: none;
}
#a {
	color:red;
	font-size:14px;
	margin:10px;
	padding-bottom:30px;
	padding-left:130px;
	text-decoration: overline;
}
#burg {
	border-radius: 25px;
	height:100px;
	padding-top: 25px;
	width:100px;
}
.cart {
	background-color: #FFFFFF;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
	max-width: 700px;
	button {
		background-color: green;
	}
}