body{
		background: url("3back.jpg");
		font-family: "Segoe Script";
	}
	#wrapping{
		max-width: 1000px;
		height: 100%;
		background: rgb(250,235,215);
		margin: 0 auto;
		border-radius: 30px;
	}
	
	#basy{
		text-decoration: none;
	}
	#a{
		color:red;
		padding-left:130px;
		text-decoration: overline;
		margin:10px;
		padding-bottom:30px;
		font-size:14px;
	}
	#burg{
		width:100px;
		height:100px;
		padding-top: 25px;
		border-radius: 25px;
	}
	#form{
		height:500px;
		width:100%;
		background:url("4.jpg");
		margin:20px;
		background-repeat: no-repeat;
		margin: 0 50px 0 50px;
		padding: 80px 150px 0 255px;
	}
	#sto{
		height:458px;
		width:270px;
		background-color: rgb(250,235,215);
		padding-left:10px;
		padding-top: 4px;
		margin-left: 60px;
	}