#wrapping{
		max-width: 1000px;
		height: 100%;
		background: rgb(250,235,215);
		margin: 0 auto;
		border-radius: 30px;

	}
	body{
		background: url("3back.jpg");
		font-family: "Segoe Script";
	}
	#a{
		color:red;
		padding-left:130px;
		text-decoration: overline;
		margin:10px;
		padding-bottom:30px;
		font-size:14px;
	}
	.log{
		margin:0 0 0 160px;
		transition:transform 1.3s ease 0s;
	}
	.log:hover{
		transform:rotateY(360deg);
		transition:transform 1.3s ease 0s;
	}
	.log1{
		margin:0 0 0 130px;
		transition:transform 1.3s ease 0s;
		
	}
	.log1:hover{
		transform:rotateY(360deg);
		transition:transform 1.3s ease 0s;
	}
	.log2{
		margin:0 0 0 130px;
		transition:transform 1.3s ease 0s;
	}
	.log2:hover{
		transform:rotateY(360deg);
		transition:transform 1.3s ease 0s;
	}
	#burg{
		width:100px;
		height:100px;
		padding-top: 25px;
		border-radius: 25px;
	}
	header{
		height: 100px;
		width: 800px;
		background: white;
		z-index:3;
		position:relative;
	}
	#menu{
		background-color: white;

		
		width: 100%;
	}
	ol, ul { list-style: none; }
	.main-ul li {
 		float:left;
 		position:relative;
 		width:25%;
 		text-align:center;
 	}
 	.main-ul li a {
 		display:block;
 		padding-bottom:20px;
 		padding-right:10px;
 		padding-top:10px;
 		padding-left:0px;
 		text-decoration:none;
 		position: relative;
 		z-index: 100;
 		background-color: rgba(164, 164, 164, 0.2);
 		-webkit-transition: all 1s;
 		-moz-transition: all 1s;
 		-o-transition: all 1s;
 		transition: all 1s;
 	}
 	.main-ul li a span{
 		display:block;
 		padding-top:10px;
 		font-weight:700;
 		font-size: 20px;
 		color: rgba(120, 120, 120, 0.9);
 		text-transform:uppercase;
 		font-family: 'Kotta One', serif;
 	}
	.main-ul li:hover span{
 		color: #fff;
	}
	.main-ul li:nth-child(1):hover a{
 		background-color: rgba(175,54,55,0.8);
 		-moz-transform: rotate(-3deg);
 		-webkit-transform: rotate(-3deg);
 		-o-transform: rotate(-3deg);
 		transform: rotate(-3deg);
	}
	.main-ul li:nth-child(2):hover a{
 		background-color: rgba(199, 204, 73, 0.8);
 		-moz-transform: rotate(-3deg);
 		-webkit-transform: rotate(-3deg);
 		-o-transform: rotate(-3deg);
 		transform: rotate(-3deg);
	}
	.main-ul li:nth-child(3):hover a{
 		background-color: rgba(213, 135, 11, 0.8);
 		-moz-transform: rotate(3deg);
 		-webkit-transform: rotate(3deg);
 		-o-transform: rotate(3deg);
 		transform: rotate(3deg);
	}
	.main-ul li:nth-child(4):hover a{
 		background-color: rgba(51, 143, 144, 0.8);
		-moz-transform: rotate(3deg);
		-webkit-transform: rotate(3deg);
		-o-transform: rotate(3deg);
		transform: rotate(3deg);
	}

	#foto{
		height: 100%;
		width:100%;
	}
	#onas{
		width:1000px;
		height:620px;
		
	}
	#slova{
		
		width:600px;
		height:600px;
		float:right;
		padding: 10px;
		font-size:15px;
	}
	#dos{
		margin:20px;
		height:250px;
	}
	.Adresa{
		font-size:20px;
		padding-left:70px;
	}
	#kontakt{
		background-color: rgb(246,213,153);
		float:left;
		margin:10px 10px 10px 20px;
		border-radius: 10px;
		color:red;
		height:160px;
		width:250px;
		font-size: 12px;
		padding: 5px;
		border:1px dashed;
	}
	#nomer{
		background-color: rgb(246,213,153);
		border-radius: 10px;
		float:left;
		margin: 10px 0 0 80px;
		color:red;
		height:160px;
		width:250px;
		font-size: 12px;
		padding: 5px;
		border:1px dashed;
	}
	#vmeste{
		background-color: rgb(246,213,153);
		border-radius: 10px;
		float:left;
		margin: 10px 0 0 80px;
		color:red;
		height:160px;
		width:250px;
		font-size: 12px;
		padding: 5px;
		border:1px dashed;
	}
	.vk{
		padding: 0 0 0 38px;
	}
	.slider {
 z-index: 9;
 width: 100%;
 height: 100%;
 overflow: hidden;
 margin: 0 0 7px;
 position: relative;
 }
 .slider ul,
 .slider li {
 padding: 0;
 margin: 0;
 list-style-type: none;
 }
 .slider ul {
 width: 9999px; 
 }
 .slider ul li {
 list-style-type: none;
 float: left;
 width: 1000px;
 height: 290px;
 }
 .slider .nav {
 position: absolute;
 left: 15px;
 bottom: 12px; 
 }
 .slider .nav span {
 opacity: 0.9;
 background: #fff;
 margin: 0 8px 0 0;
 width: 16px;
 height: 16px;
 border-radius: 8px;
 cursor: pointer;
 overflow: hidden;
 display: block;
 float: left;
 box-shadow: 0 1px 2px #000;
 }
 .slider .nav span.on {
 background: #2e9419;
 }
