body{
		background: url("3back.jpg");
		font-family: "Segoe Script";
	}
	#wrapping{
		max-width: 1000px;
		height: 100%;
		background: rgb(250,235,215);
		margin: 0 auto;
		border-radius: 30px;
	}
	#basy{
		text-decoration: none;
	}
	#a{
		color:red;
		padding-left:130px;
		text-decoration: overline;
		margin:10px;
		padding-bottom:30px;
		font-size:14px;
	}
	#burg{
		width:100px;
		height:100px;
		padding-top: 25px;
		border-radius: 25px;
	}
	#zag{
		color:red;
		font-size: 25px;
		margin:0 0 0 360px;
	}
	#fil{
		width: 400px;
		height:270px;
		background-color: #faebd7;
		margin:35px; 
		border-style: dotted;
		border-color: pink;
		float:left;
	}
	.hh{
		
		margin:0 0 0 110px;
	}
	#fila{
		font-style: italic;
		text-decoration: none;
	}
	a:hover{
		color:red;
	}
	.pp{
		font-style: italic;
		padding:10px;
	}

	#fil2{
		width: 400px;
		height:270px;
		background-color: #faebd7;
		margin: 35px;
		border-style: dotted;
		border-color: pink;
		float:right;
	}
	#fil3{
		width: 400px;
		height:270px;
		background-color: #faebd7;
		margin:35px;
		border-style: dotted;
		border-color: pink;
		float:right;
	}

	
	#im{
		width: 380px;
		height:230px;
		margin:10px;
	}

	#fariza{
		width:460px;
		height:255px;
		background-color:rgba(255,255,255,0.9);
		position: absolute;
		top:260px;
		left:774px;
		border:2px solid black;
		display: none;
	}
	#fariza2{
		width:460px;
		height:255px;
		background-color:rgba(255,255,255,0.9);
		position: absolute;
		top:550px;
		left:774px;
		border:2px solid black;
		display: none;
	}
	#fariza3{
		width:460px;
		height:255px;
		background-color:rgba(255,255,255,0.9);
		position: absolute;
		top:840px;
		left:774px;
		border:2px solid black;
		display: none;
	}
	#fariza4{
		width:460px;
		height:255px;
		background-color:rgba(255,255,255,0.9);
		position: absolute;
		top:1130px;
		left:774px;
		border:2px solid black;
		display: none;
	}
	#fariza5{
		width:460px;
		height:255px;
		background-color:rgba(255,255,255,0.9);
		position: absolute;
		top:1420px;
		left:774px;
		border:2px solid black;
		display: none;
	}
	#fariza6{
		width:460px;
		height:255px;
		background-color:rgba(255,255,255,0.9);
		position: absolute;
		top:1710px;
		left:774px;
		border:2px solid black;
		display: none;
	}
	#exit1{
		float:right;
	}
	#exit{
		float:right;
	}
	#exit2{
		float:right;
	}
	#exit3{
		float:right;
	}
	#exit4{
		float:right;
	}
	#exit5{
		float:right;
	}
	.recept{
		font-size:13px;
		clear: right;
		padding:4px;
	}
	.recep{
		float: left;
	}